<div class="row">
  <!-- <h2>About Me</h2> -->
  <hr>
  <div class="col-sm-3">
    <div>
      <img src="static/img/face.jpg" width="100%">
    </div>
  </div>
  <div class="col-sm-8">
    <p class="content"> 
I am a PhD student in CS department at <a href="https://uwaterloo.ca">University of Waterloo</a>.
    

	<p class="content"> I obtained my MSc from Univeristy of Waterloo working with <a href=" https://uwaterloo.ca/electrical-computer-engineering/profile/khandani"> Prof. Khandani </a>. 
	 <p class="content">Feel free to reach out to me at <a href="nekoeihe@mila.quebec">nekoeihe@mila.quebec</a></p>


  </div>
</div>

