<div class="row">
  <!-- <h2>About Me</h2> -->
  <hr>
  <div class="col-sm-3">
    <div>
      <img src="static/img/face.jpg" width="100%">
    </div>
  </div>
  <div class="col-sm-8">
  	<p class="content"> I am a PhD student in CS department at the <a href="https://uwaterloo.ca">University of Waterloo</a>. I obtained my master's degree in Electrical and Computer Engineering from the Univeristy of Waterloo under the supervision of 
		<a href=" https://uwaterloo.ca/electrical-computer-engineering/profile/khandani"> Prof. Khandani </a> and my bachelor's degree in Electrical Engineering from <a href="https://aut.ac.ir">Amirkabir University of Technology</a>.
  	<p class="content"> I am interested in developing ideas to imporve Federated Learning scheme, and also to perform model and data compression for employing gigantic
		machine learning models on low-budget devices.
	<p class="content"> During my free time, I usually read books(most of the time poetry) and play video games.
</div>
</div>

