<div class="row">

  <h2>Education</h2>
  <hr>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">MASc in Electrical and Computer Engineering</h3>
      <h4 class="content_heading">University of Waterloo</h4>
        <p class="content">Thesis title: Methods for Nonlinear Impairments Compensation in Fiber-Optic Communication Systems</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/UW.png" width="40%">
      <p>(May 2016 - April 2018)</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">BASc in Electrical Engineering</h3>
      <h4 class="content_heading">Amirkabir University of Technology, Iran</h4>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/AUT.png" width="80%">
      <p>(September 2011 - August 2015)</p>
    </div>
  </div>

</div>
