<div class="row">
    <h2>Work Experience</h2>
    <hr>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Research Associate, <a target="_blank" href="https://uwaterloo.ca">University of Waterloo</a></h3>
        <p class="content">1.Designing and Implementing new ideas in cload storage systems. 2.Phased array designing.</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/UW.png" width="120px">
        <p>(May 2018 - December 2019)</p>
        <br>
      </div>
    </div>


</div>
