<div class="row">
    <h2>Work Experience</h2>
    <hr>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Research Associate, <a target="_blank" href="https://uwaterloo.ca">University of Waterloo</a></h3>
          
<ul>
  <li>Designing and Implementing new ideas in cload storage systems.</li>
  <li>Phased array designing(in colaboration with <a target="_blank" href="https://www.carnegietechnologies.com/">Carnegie Technologies</a>).</li>
</ul> 
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/UW.png" width="120px">
        <p>(May 2018 - December 2019)</p>
        <br>
      </div>
    </div>


</div>
