
<div class="row">

	<h2>Projects</h2>
 <hr>
<table style="width:100%;border:1px;border-spacing:1px;border-collapse:separate;margin-right:auto;margin-left:auto;">
<tbody>
	<tr>

            <td width="30%"><img src="static/img/stock_paper.png" alt="3DSP" width="300" height="200" style="border-style: none"></td>
            <td valign="top" width="60%">
			<a href="https://www.aaai.org/ojs/index.php/AAAI/article/view/5016">
            <papertitle>Artificial Counselor System For Stock Investment</papertitle>
            </a>
            <br>
            <b> H. Nekoei </b>,
            <b>Benyamin Ghojogh</b>,
	    <b>Ali Sahebpasand</b>,
            <b>Mark Crowley</b>
            
            <br>
              <em>Published in IAAI, 2019</em><br>
            <br>

             <td>   <a href="https://www.aaai.org/ojs/index.php/AAAI/article/view/5016">Paper</a>/
               <a href="https://github.com/asahebpa/Artifical-Counselor-Stock-Investment">code</a>

            </td>
	</tr>
	<tr>
            <td width="30%"><img src="static/img/thesis.png" alt="3DSP" width="300" height="200" style="border-style: none"></td>
            <td valign="top" width="60%">
			<a href="https://uwspace.uwaterloo.ca/handle/10012/13077">
            <papertitle>Methods for Nonlinear Impairments Compensation in Fiber-Optic Communication Systems</papertitle>
            </a>
            <br>
	    <b>Ali Sahebpasand</b>,
            <b>Amir Keyvan Khandani</b>
            <td>   <a href="https://uwspace.uwaterloo.ca/handle/10012/13077">Thesis</a>
            </td>
	</tr>
	<tr>
            <td width="30%"><img src="static/img/qfda.png" alt="3DSP" width="300" height="200" style="border-style: none"></td>
            <td valign="top" width="60%">
			<a href="https://arxiv.org/pdf/1909.03037.pdf">
            <papertitle>Quantized Fisher Discriminant Analysis</papertitle>
            </a>
            <br>
            <b>Benyamin Ghojogh</b>,
	    <b>Ali Sahebpasand</b>,
            <b>Mark Crowley</b>
             <td>   <a href="https://arxiv.org/pdf/1909.03037.pdf">Paper</a>/
               <a href="https://github.com/asahebpa/Quantized-Fisher-Discriminant-Analysis">code</a>

            </td>
	</tr>

    </tbody>

</table>

</div>
