
<div class="row">

	<h2>Projects</h2>
 <hr>
<table style="width:100%;border:1px;border-spacing:1px;border-collapse:separate;margin-right:auto;margin-left:auto;">
<tbody>
	<tr>

            <td width="30%"><img src="static/img/nlp.png" alt="3DSP" width="300" height="400" style="border-style: none"></td>
            <td valign="top" width="90%">
			<a href="https://github.com/asahebpa/TextStyleTransfer/blob/master/Report.pdf">
            <papertitle>Unsupervised and Semi-supervised StyleTransformation by Using Sentence-BERT as a Service</papertitle>
            </a>
     	    <br>
	    <b>Ali Sahebpasand</b>
            <br>
              <em>The final project of CS886: Advanced topics in Artificial Intelligence(Deep Learning for NLP)</em><br>
            <br>
             <td>   <a href="https://github.com/asahebpa/TextStyleTransfer/blob/master/Report.pdf">Report</a>/
               <a href="https://github.com/asahebpa/TextStyleTransfer">code</a>
            </td>
	</tr>
	<tr>

            <td width="30%"><img src="static/img/sat.png" alt="3DSP" width="300" height="200" style="border-style: none"></td>
            <td valign="top" width="60%">
			<a href="https://patents.google.com/patent/US10651920B1/en">
            <papertitle>Methods for formation of antenna array using asymmetry</papertitle>
            </a>
            <br>
            <b>Paul Struhsaker</b>,
            <b>Paul Posner</b>,
	    <b>Ali Sahebpasand</b>,
            <b>Amir Keyvan Khandani</b>
            <br>
              <em>US Patent 10,651,920</em><br>
            <br>

             <td>   <a href="https://patents.google.com/patent/US10651920B1/en">US Patent Document</a>
            </td>
	</tr>
	<tr>

            <td width="30%"><img src="static/img/stock_paper.png" alt="3DSP" width="460" height="200" style="border-style: none"></td>
            <td valign="top" width="60%">
			<a href="https://www.aaai.org/ojs/index.php/AAAI/article/view/5016">
            <papertitle>Artificial Counselor System For Stock Investment</papertitle>
            </a>
            <br>
            <b> H. Nekoei </b>,
            <b>Benyamin Ghojogh</b>,
	    <b>Ali Sahebpasand</b>,
            <b>Mark Crowley</b>
            
            <br>
              <em>Published in IAAI, 2019</em><br>
            <br>

             <td>   <a href="https://www.aaai.org/ojs/index.php/AAAI/article/view/5016">Paper</a>/
               <a href="https://github.com/asahebpa/Artifical-Counselor-Stock-Investment">code</a>

            </td>
	</tr>
	<tr>
            <td width="30%"><img src="static/img/thesis.png" alt="3DSP" width="500" height="200" style="border-style: none"></td>
            <td valign="top" width="100%">
			<a href="https://uwspace.uwaterloo.ca/handle/10012/13077">
            <papertitle>Methods for Nonlinear Impairments Compensation in Fiber-Optic Communication Systems</papertitle>
            </a>
	    <br>
	    <b>Ali Sahebpasand</b>
            <br>
              <em>Master's Thesis</em><br>
            <br>
            <td>   <a href="https://uwspace.uwaterloo.ca/handle/10012/13077">Master's thesis</a>
            </td>
	</tr>
	<tr>
            <td width="30%"><img src="static/img/qfda.png" alt="3DSP" width="500" height="200" style="border-style: none"></td>
            <td valign="top" width="60%">
			<a href="https://arxiv.org/pdf/1909.03037.pdf">
            <papertitle>Quantized Fisher Discriminant Analysis</papertitle>
            </a>
            <br>
            <b>Benyamin Ghojogh</b>,
	    <b>Ali Sahebpasand</b>,
            <b>Mark Crowley</b>
             <td>   <a href="https://arxiv.org/pdf/1909.03037.pdf">Paper</a>/
               <a href="https://github.com/asahebpa/Quantized-Fisher-Discriminant-Analysis">code</a>

            </td>
	</tr>

    </tbody>

</table>

</div>
